html,body{
  width: 100%;
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
}


body {font-family: Verdana, sans-serif; margin:0;
}

img {vertical-align: middle;}


.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }

  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 10px;
    justify-self:center;
    margin-bottom: 0%;
  }

  .navbar{
   display: flex;
    color:white;
    width: 100%;
    background-color: #FF8247;
  }
   
  .brand-title p{
   
    justify-self: center;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: black;
    font-size: 30px;
    font-weight: 700; 
    margin-block-end: 0%;
    margin-block-start: 10px;
   
  }

  @media only screen and
   (max-width:500px){
     .brand-title p{
      font-size: 25px;
     }
    body{

      width: 100%;
    }
    .account{
      padding: 10px;
    }
      
   }




.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,130,71,0.6);
    color: black;
    text-align: center;
  }

  .donate{
    justify-content: center;
    height: 700px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  td {
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 800;

  }

 .whatsapp{
   width:100%;
   height: 100px;
     }

 #but{
   display: block;
   margin:auto;
   cursor: pointer;
   border-radius: 15px;
   }

#but:active {
   transform: translateY(4px);
}

.account{
  display: block;
  margin:0 auto;
  border:10px solid orangered;
  width: fit-content;
  padding: 20px;
  
}
pre{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width:500px)
{
  .account{
    padding:15px;
     }
  pre{
    font-size: 17px;
  }


}
  
  
